* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

.header{
  display: flex;
  align-items: center ;
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-list-items{
  margin-right: 10px;
}