* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Inter, sans-serif;
    background: #27292c;
    color: white;
}

.header{
  height: 90px;
}

nav > .nav-left > img {
  width: 50px;
}

nav{
  display: flex;
  align-items: center ;
  height: 100%;
  justify-content: space-between;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-list{
  list-style: none;
  display: flex;
}

.nav-list-items{
  margin-right: 10px;
  color: #61DAFB;
}

nav > div > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}