* {
    box-sizing: border-box;
}

body {
    /* padding: 0px; */
    margin: 0px;
    font-family: Inter, sans-serif;
    background-color: #282D35;
    color: white;
}

.header{
  height: 90px;
}

nav > .nav-left > img {
  width: 50px;
}

nav{
  display: flex;
  align-items: center ;
  height: 100%;
  justify-content: space-between;
  background-color: #21222A;
}

.nav-left{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-list{
  list-style: none;
  display: flex;
}

.nav-list-items{
  margin-right: 10px;
  color: #61DAFB;
}

nav > div > span {
    color: #61DAFB;
    font-size: 1.4rem;
    font-weight: 700;
}

main {
    padding: 60px 30px;
}

main > h1 {
    margin: 0;
    font-size: 2.4rem;
}

.facts-list{
  margin-top: 46px;
  max-width: 1000px;
}

.facts-list > li{
  /* For top and bottom */
  padding-block: 10px; 
  line-height: 19px;
}